body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F4F4F4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* 
start */
.close-btn-part{
  padding-left: 0;
}

.close-btn-part:hover{
  color: #0d6abf; 
}
.part-title{
  font-size: 1.5em;
}

.part-description{
  font-size: 1em;
  height: 4em;
}

.part-img{
  width: 10em;
  height: 10em;
  object-fit: cover;
  border-radius: .3em;
}

.part-post{
  width: 100%;
  margin-bottom: 2em;
  background: white;
  padding: 1.5em;
  border-radius: .3em;
}

.part-content {
  text-align: left;
}

.part-need-btn {
  font-size: .8em; 
  margin-right: 2em;
}

.part-supply-btn {
  font-size: .8em;
}

.part-btn-custom{
  border: none;
  background-color: #b5b5b5;
  color: white;
  padding: 0.8em 1em 0.8em 1em;
  border-radius: .5em;
}

.part-btn-custom-blue{
  border: none;
  background-color: #00609A;
  margin-right: 4%;
  color: white;
  padding: 0.8em 1em 0.8em 1em;
  border-radius: .5em;
}

.part-btn-custom:hover{
  background-color: #00609A;
  color: white;
}

.right-div{
  text-align: right;
}

.part-listing{
  margin-top: 3%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.h1-part-listings{
  margin-top: 5%;
}
/* part End */

/* search start */
.search-input{
  border:none;
  margin-right: 1%;
  margin-top: 5em;
  margin-bottom: 1em;
  border-radius: .3em;
  padding: .8em;
  width: 70%;
}


::placeholder {
 color: #b5b5b5;
}

.search-btn{
  border:none;
  border-radius: .3em;
  padding: .8em;
  width: 29%;
  color: white;
  background-color: #00609A;
}

.search-desc{
  text-align:right;
  width: 100%;
  margin-bottom: 3em;
}

.search-container-makers{
  margin-left: 25%;
  margin-right: 25%;
}
/*search end*/

/*makers db start*/
.makers-db{
  width: 100%;
}

/*makers db end*/

/*navbar starts*/
#nav-expand{
  display: flex;
}

#clicked-profile{
  display: none;
}
.profile-popup{
  z-index: 3;
  padding: 1em;
  margin-left: 80vw;
  width: 20vw;
  background-color: white;
  margin-top: 1em;
  position: fixed;
}

.icon-toggle{
  display: none;
  background: url('/icon-burg.png') no-repeat center center; 
  background-size: contain;
}

.left-nav{
  width: 50%;
  text-align: left;
}

.logo-img{
  margin-top:-.6em;
  height: 2.3em;
}

.left-nav-login{
  width: 80%;
  text-align: left;
}

.navbar-custom {
  background: white;
  padding: 1em 4em 0 4em;
  margin: 0;
  width: 100%;
  color: black;
}

.nav-logo{
  font-size: 2em;
  color: black;
}

.nav-page{
  color: black;
  height: 4em;
  padding: .5em 2em 0em 2em;
  border-bottom: .5em solid white;
}

.nav-page-active{
  border-bottom: .5em solid #6978A7;
} 

.nav-profile{
  color: black;
  height: 4em;
  width: 15%;
  padding: .5em 2em 0em 2em;
}

.nav-profile-active{
  border-bottom: #6978A7 solid 1em;
} 

.nav-profile-pic{
  width: 3.5em;
  height: 3.5em;
  margin: -1em 1em .5em 1em;
  border-radius: 50%;
}

.logout-btn{
  background-color: #919191;
  border: none;
  color: white;
  padding: .5em 1em;
  border-radius: .3em;
}
.logout-btn:hover{
  background-color: #00609A;
}

/*navbar ends*/

/*popup start*/
  #overlay-part{
    position: fixed; 
    width: 100%; 
    height: 100%; 
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 100x;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer; 
}

.part-popup{
  text-align: left;
  margin: 10% 30% auto 30%;
  background: white;
  width: 40%;
  height: auto;
  padding: 3em;
  border-radius: .3em;
  
}

.popup-col{
  width: 48%;
  text-align: left;
}

.popup-desc {
  margin-right: 4%;
  font-size: .8em;
}

.popup-img{
  width: 100%;
  height: auto;
}


.popup-img-div{
  text-align: right;
  padding-right: 0;
}

.popup-title {
  margin-bottom: .5em;
  font-size: 1.8em;
  width: 100%;
}

.popup-grey-text {
  color: #adadad;
  margin-bottom: .2em;
}

.parts-popup-list{
  list-style-type: none;
  padding: 0;
}

.popup-btn {
  margin-top: 5%;
  width: 30%;
}

.printfile{
  font-size: 1.2em;
  margin-bottom: .5em;
}
/*popup end*/

/*map start*/
.google-map{
  width: 55%; 
  margin:0;
  height: 100vh;
}

/*map end*/

/*listing start*/

.post-title{
  font-size: 1.5em;
}

.post-author{
  color: #a3a3a3;
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

.post-grey-text{
  margin-bottom: 0.5em;
  font-size: 0.8em;
  color: #a3a3a3;
}

.post-distance{
  font-size: 1em;
}

.post-img{
  width: 10em;
  height: 10em;
  object-fit: cover;
  border-radius: .3em;
}

.post {
  text-align: left;
  width: 100%;
  background: white;
  padding: 1.5em;
  border-radius: .3em;
  margin-bottom: 2em;
}

.post-Listing-container{
  width: 45%;
  padding-left: 3%;
  padding-right: 3%;
  height: 100vh;
  overflow: scroll;

}

.new-post-btn-custom-div{
  margin-bottom: 5%;
  text-align: left;
}
.new-post-btn-custom{
  border: none;
  background-color: #b5b5b5;
  color: white;
  padding: 0.8em 1.5em 0.8em 1.5em;
  border-radius: .5em;
}

.new-post-btn-custom:hover{
  color: white;
  background-color: #00609A;
}

.right-div{
  text-align: right;
}

/*listing end*/

/*login/signup start*/
.login-pg{
  background: white;
  width: 100%;
  padding: 5%;
  margin-top: 10%;
}

.signup-pg{
  background: white;
  width: 100%;
  padding: 5%;
}

.login-input{
  width: 60%;
  margin-right: 30%;
  margin-bottom: 1em;
  padding: .5em;
  border-radius: .3em;
  border: solid .5px #bdbdbd;
}

.password-check{
  color: #828282;
}

.login-btn{
  margin-top: 1em;
  width: 30%;
  padding: .7em;
  border: none;
  background:#00609A;
  color: white;
  border-radius: .5em;
}

.login-title{
  margin-bottom: 1em;
  text-align: left;
}

.login-form-content{
  text-align: left;
}

.wrapper-login{
  background-color:white;
  border-radius: .5em;
  margin: 5% 10% 5% 10%;
  height: 70vh; 
}

.login-image{
  background: url('/login-image.png') no-repeat center center; 
  background-size: cover;
  border-top-right-radius: .5em;
  border-bottom-right-radius: .5em;
}

.signup-link{
  margin-top: 1em;
}

.signup-type{
  color: #bdbdbd;  
  border: solid .1em #bdbdbd;
  margin: 0 2em 2em 0;
  padding: 1em 1.2em;
  border-radius: 1em;
}

.signup-type-chosen{
  color: white;  
  background-color: #00609A;
  border: none;
  margin: 0 2em 2em 0;
  padding: 1em 1.2em;
  border-radius: 1em;
}

.signup-type:hover{
  color: #00609A;  
  border: solid .1em #00609A;
  margin: 0 2em 2em 0;
  padding: 1em 1.2em;
  border-radius: 1em;
}

.error{
  color:#bf281d;
}

/*login/signup end*/

/*post popup start*/
.close-btn{
  margin-bottom: 10%;  
}

.close-btn:hover{
  color: #0d6abf; 
}

  #overlay-post{
    position: fixed; 
    width: 100%; 
    height: 100%; 
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 100x;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer; 
}

.popup-post-grey-text{
  color: #adadad;
  font-size: .8em;
  margin-top: .5em;
  margin-bottom: 0;
}

.popup-post-h1{
  font-size: 2em;
}

.post-popup{
  margin: 10% 27% auto 27%;
  background: white;
  width: 46%;
  height: auto;
  padding: 3em;
  border-radius: .3em;
  
}

.popup-desc-post{
  margin-right: 4%;
  font-size: 1em;
  padding-right: 10%;
}
/*post popup end*/

/*add listings*/
#overlay-add-listing{
  display: none;
  position: fixed; 
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 100x;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2; 
  cursor: pointer; 
}

.add-listings-input{
  width: 100%;
  margin-bottom: 5%;
  border: none;
  border-radius: .3em;
  padding: .5em;
}

.add-listings-description{
  margin-bottom: 5%;
  width: 100%;
  outline-color: #919191; 
  border-radius: .3em;
  padding: .5em;
  border: none;
}


.add-listings-popup{
  text-align: left;
  margin: 10% 30% auto 30%;
  background: white;
  width: 40%;
  height: auto;
  padding: 3em;
  border-radius: .3em;
  background: #F4F4F4;
}

.listing-type{
  color: #bdbdbd;  
  border: solid .1em #bdbdbd;
  margin: 5%;
  padding:.8em;
  border-radius: 1em;

}

.listing-type-chosen{
  color: white;  
  background-color: #00609A;
  border: none;
  padding: .8em;
  margin: 5%;
  border-radius: 1em;
 
}

.listing-type:hover{
  color: #00609A;  
  border: solid .1em #00609A;
  border-radius: 1em;
}

.right-col-add-listing{
  text-align: left;
}

.img-upload{
  display: none;
}

.upload-file-btn{
  margin:0;
  width: 40%;
  margin-right: 60%;
  color: gray;
  border-radius: .5em;
  background: url('/upload.webp') no-repeat center center; 
  height: 6em;
  margin-top: 5%;
  margin-bottom: 5% ;
  background-size: contain;
  
}

.upload-file-btn:hover{
  background-color: white;
  
}

.submit-post-btn{
  margin-top: 1em;
  width: 40%;
  padding: .7em;
  border: none;
  background-color: #919191;
  color: white;
  margin-left: 1em;
  border-radius: .5em;
}
.submit-post-btn:hover{
  background-color: #00609A;
}

.new-post-h1{
  font-size: 1.8em;
}
/*add listing end*/

/* landing page */
.landing-main{
  margin: 5% 10% 5% 10%;
  border-radius: .5em;
  padding: 10% 5% 10% 5%;
  background: url('/landing.png') no-repeat center center; 
  background-size: cover;
}

.heading-landing-main{
  text-align: left;
}

.h1-heading-landing-main{
  line-height: 1.5em;
  font-size: 2.5em;
}

.landing-about{
  margin: 10% 10% 5% 10%;
  text-align: left;
  color: white;
  border-radius: .5em;
  background-color: #5b7ea0;
  padding: 5%;
}

.about-content{
  margin-bottom: 6%;
}

.h1-landing-about{
  margin-bottom: 3%;
}

.list-landing{
  margin-top: 1em;
  line-height: 1.8em;
}

.left-landing-col {
  width:30%;
}

.right-landing-col {
  left:70%;
}

/*Rj responsive styling*/

@media only screen and (min-device-width: 769px) and (max-device-width: 1024px){
  .left-nav-login{
    width: 60%;
  }
}
@media only screen and (min-device-width: 551px) and (max-device-width: 768px){
  /*landing page start*/
  .h1-heading-landing-main{
    font-size: 2em;
  }

  .left-landing-col {
    width:50%;
  }
  .right-landing-col {
    width:50%;
  }

  /*landing page end*/
  
  /*nav*/
  .navbar-custom{
    padding-left: 0;
    padding-right: 0;
  }
  .left-nav-login{
    width: 40%;
  }
  /*nav end*/
}

@media only screen and (max-device-width: 550px){
  
  /*landing page start*/
  .h1-heading-landing-main{
    font-size: 2em;
    color: white;
  }

  .left-landing-col {
    width:100%;
  }
  .right-landing-col {
    width:0%;
  }

  .landing-main{
    margin: 0;
    border-radius: 0;
    padding: 5vh 10vw 5vh 10vw;
    height: 100vh;
    background: url('/landing-mobile.png') no-repeat center center; 
  }

  .landing-about{
    border-radius: 0;
    margin:0;
    padding: 10%;
  }

  .about-content{
    margin-bottom: 15%;
  }
  
  .h1-landing-about{
    margin-bottom: 10%;
  }

  .mobile-col{
    width: 100vw !important;
  }
  /*landing page end*/

  /*nav*/
  .navbar-custom{
    padding-left: 0;
  }
  .nav-page{
    width: 100%;
  }
  .nav-page-active{
    border: none;
  }

  .icon-toggle{
    display: flex;
    height: 2em;
    margin-top: -.5em;
    padding-bottom: .5em;
    width: 2em;
    background: url('/icon-burg.png') no-repeat center center; 
    background-size: contain;
  }

  #nav-expand{
    display: none;
    padding-left:10%;
  }

  .left-nav-login{
    width: 60%;
  }
}

/*Rj responsive styling end*/